:root {
    --bg-color: #ffffff; /* Default background color */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color); /* Use the custom property */
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

h1 {
    text-align: center;
}
