/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

/* Overlay styles */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black with opacity */
    z-index: 1;
    cursor: pointer;
}

/* Sidebar open state */
.sidebar.open {
    width: 250px;
}

/* Overlay open state */
.overlay.open {
    display: block;
}
