/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-toggle {
  display: none;
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.hamburger {
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  position: relative;
}

.hamburger::before,
.hamburger::after {
  content: "";
  background-color: white;
  width: 25px;
  height: 2px;
  display: block;
  position: absolute;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  bottom: -8px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-menu.is-active {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
  }
}
